// Import Bootstrap SCSS
@import "../../../node_modules/bootstrap/scss/bootstrap";

// Import other styles
@import "animations.css";
@import "sections/about.css";
@import "sections/back-to-top.css";
@import "sections/breadcrumbs.css";
@import "sections/clients.css";
@import "sections/contact.css";
@import "sections/cta.css";
@import "sections/faq.css";
@import "sections/footer.css";
@import "sections/header.css";
@import "sections/hero.css";
@import "sections/navbar.css";
@import "sections/portfolio.css";
@import "sections/preloader.css";
@import "sections/pricing.css";
@import "sections/section.css";
@import "sections/services.css";
@import "sections/skills.css";
@import "sections/team.css";

body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: var(--tertiary-color);
  text-decoration: none;
}

a:hover {
  color: var(--secondary-color);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Jost", sans-serif;
}

.primary {
  color: var(--background-color);
}

.text-highlight {
  color: var(--tertiary-color);
  font-weight: bold;
}

.card-background {
  background: #092635;
}