.services .icon-box {
    box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
    padding: 30px 30px;
    transition: all ease-in-out 0.4s;
    border-radius: 25px;
}

.services .icon-box .icon {
    text-align: right;
    margin-right: 50px;
    position: relative;
}

.icon.toggle-on,
.icon.toggle-off {
    opacity: 0;
    transition: opacity 2s ease;
}

.icon.toggle-on.visible,
.icon.toggle-off.visible {
    opacity: 1;
}



.services .icon-box .icon i {
    color: var(--tertiary-color);
    font-size: 36px;
    position: absolute;
    top: -15px;
    transition: 0.3s;
}


.services .icon-box .icon .automation {
    animation: spin 5s infinite linear;
}


.services .icon-box .icon.toggle {
    opacity: 0;
    transition: opacity 0.5s ease; /* Slow transition */
    pointer-events: none; /* Disable pointer events to prevent interaction while hidden */
}

.services .icon-box .icon.visible {
    opacity: 1;
    pointer-events: auto; /* Enable pointer events while visible */
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.services .icon-box h4 {
    font-weight: 500;
    margin-bottom: 15px;
    font-size: 24px;
}

.services .icon-box h4 a {
    color: var(--primary-color);
    transition: ease-in-out 0.3s;
}

.services .icon-box p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}

.services .icon-box:hover {
    transform: translateY(-10px);
}

.services .icon-box:hover h4{
    color: var(--tertiary-color);
}

.services .icon-box:hover h4 a{
    text-decoration: underline;
    color: var(--tertiary-color);
}
